* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	transition: 0.5ms;
}

body {
	background-color: #101010;
}

header {
	background-color: #fff;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

footer {
	background-color: white;
}

hr {
	margin: 3rem 0;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	box-shadow: 0 0px 70px rgba(255, 0, 87, 0.5);
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	width: 3.5rem;
	padding-right: 1rem;
	border-right: 0.3rem solid black;
	margin: 1rem;
}

.logo-date {
	font-family: "elza", sans-serif;
	font-weight: 700;
	font-size: 2rem;
	color: black;
	margin: 0.4rem 0 0 0.3rem;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3rem;
	margin-right: 1rem;
}

.nav-item a {
	color: black;
	font-family: "elza", sans-serif;
	font-weight: 700;
}

.nav-link {
	font-size: 1.2rem;
	font-weight: 400;
	color: black;
}

/* nav item hover effect */
.nav-link:hover {
	text-decoration: underline 3px solid black;
}

/* Burger Icon */
.hamburger {
	display: none;
}

/* Burger bars*/
.bar {
	display: block;
	width: 30px;
	height: 4px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #101010;
}

.wrapper {
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 7rem 0 8rem 3rem;
}

/* banner title */
.banner-title {
	width: 100%;
	color: white;
	font-family: "elza", sans-serif;
	font-weight: 700;
	font-size: 7rem;
	margin-bottom: 3rem;
}

.banner-title p:nth-child(2) {
	width: 150px;
	padding-bottom: 3rem;
	border-bottom: 5px solid white;
}

/* Banner text */
.banner-text {
	width: 90%;
	color: white;
	font-family: "Courier New", Courier, monospace;
}

#arrow-wrapper {
	display: table;
	width: 100%;
	margin-bottom: 5rem;
}

#arrow-wrapper-inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

#scroll-down {
	display: block;
	position: relative;
	padding-top: 79px;
	text-align: center;
}
.arrow-down {
	display: block;
	margin: 0 auto;
	width: 10px;
	height: 38px;
}
.arrow-down:after {
	content: "";
	display: block;
	margin: 0;
	padding: 0;
	width: 8px;
	height: 8px;
	border-top: 3px solid #ff0057;
	border-right: 3px solid #ff0057;
	-moz-transform: rotate(135deg);
	transform: rotate(135deg);
}

#scroll-down::before {
	animation: fall 1.2s cubic-bezier(1, 0, 0, 1) infinite;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 90px;
	background: #ff0057;
	content: " ";
}

@keyframes fall {
	0% {
		-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		-webkit-transform: scale(1, 0);
		transform: scale(1, 0);
	}
	50% {
		-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	50.1% {
		-webkit-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	100% {
		-webkit-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
		-webkit-transform: scale(1, 0);
		transform: scale(1, 0);
	}
}
/* BODY

















HERE*/

.f-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.f-col {
	width: 100%;
	padding: 2rem 1rem;
	margin-top: 2rem;
}

.f-col h4 {
	font-family: "elza", sans-serif;
	font-size: 2rem;
}

.f-col:nth-child(2) {
	color: #ff0057;
}

.f-col p,
.copy {
	font-family: "Courier New", Courier, monospace;
	text-align: start;
}
.copy {
	margin: 0 1rem;
	padding-bottom: 2rem;
}

/* Burger */
@media (max-width: 769px) {
	/* Hiding menu outside and styling burger menu*/
	.nav-menu {
		position: fixed;
		right: -100%;
		top: 5rem;
		flex-direction: column;
		background-color: #fff;
		width: 50%;
		border-radius: 0 0 0 1rem;
		text-align: center;
		transition: 0.3s;
	}

	/* Move menu own after clicking */
	.nav-menu.active {
		right: -1rem;
	}

	.nav-item {
		margin: 2.5rem 0;
	}

	/* Changing cursor style on hover */
	.hamburger {
		display: block;
		cursor: pointer;
	}

	/* Creating X button */
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(9px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-9px) rotate(-45deg);
	}
}

@media (min-width: 1025px) {
	.wrapper {
		width: 1000px;
	}
	.row {
		margin: 10rem 0 15rem 0;
	}

	.banner-title {
		width: 50%;
		padding: 2rem 0;
		margin: 0;
		border-right: 5px solid white;
		border-bottom: none;
	}

	.banner-title p:nth-child(2) {
		border-bottom: none;
		padding-bottom: 0rem;
	}

	.banner-text {
		width: 50%;
	}
	.banner-text p {
		margin-left: 5rem;
	}

	#arrow-wrapper {
		margin-bottom: 13rem;
	}

	.grid {
		width: 80%;
		justify-content: center;
	}

	.f-grid {
		width: 1000px;
		margin: 0 auto;
	}

	.f-col {
		width: 50%;
	}

	.copy {
		width: 1000px;
		margin: 0 1rem;
		margin: 0 auto;
	}
}
