.wrapper {
	width: 1000px;
	margin: 0 auto;
	flex-direction: column;
}

section {
	margin: 5rem 0;
}

.text-content,
p {
	margin: 2rem 0;
}

img {
	width: 100%;
}

.text-content > ul > li {
	padding: 1rem 0;
}
