* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	transition: 0.5ms;
}

body {
	background-color: #101010;
}

header {
	background-color: #fff;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

footer {
	background-color: white;
}

#blog {
	position: relative;
	z-index: -99999;
	height: 3rem;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	box-shadow: 0 0px 70px rgba(255, 0, 87, 0.5);
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	width: 3.5rem;
	padding-right: 1rem;
	border-right: 0.3rem solid black;
	margin: 1rem;
}

.logo-date {
	font-family: "elza", sans-serif;
	font-weight: 700;
	font-size: 2rem;
	color: black;
	margin: 0.4rem 0 0 0.3rem;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3rem;
	margin-right: 1rem;
}

.nav-item a {
	color: black;
	font-family: "elza", sans-serif;
	font-weight: 700;
}

.nav-link {
	font-size: 1.2rem;
	font-weight: 400;
	color: black;
}

/* nav item hover effect */
.nav-link:hover {
	text-decoration: underline 3px solid black;
}

/* Burger Icon */
.hamburger {
	display: none;
}

/* Burger bars*/
.bar {
	display: block;
	width: 30px;
	height: 4px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #101010;
}

.wrapper {
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 7rem 0 8rem 3rem;
}

/* banner title */
.banner-title {
	width: 100%;
	color: white;
	font-family: "elza", sans-serif;
	font-weight: 700;
	font-size: 7rem;
	margin-bottom: 3rem;
}

.banner-title p:nth-child(2) {
	width: 150px;
	padding-bottom: 3rem;
	border-bottom: 5px solid white;
}

/* Banner text */
.banner-text {
	width: 90%;
	color: white;
	font-family: "Courier New", Courier, monospace;
}

#arrow-wrapper {
	display: table;
	width: 100%;
	margin-bottom: 5rem;
}

#arrow-wrapper-inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

#scroll-down {
	display: block;
	position: relative;
	padding-top: 79px;
	text-align: center;
}
.arrow-down {
	display: block;
	margin: 0 auto;
	width: 10px;
	height: 38px;
}
.arrow-down:after {
	content: "";
	display: block;
	margin: 0;
	padding: 0;
	width: 8px;
	height: 8px;
	border-top: 3px solid #ff0057;
	border-right: 3px solid #ff0057;
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

#scroll-down::before {
	animation: fall 1.2s cubic-bezier(1, 0, 0, 1) infinite;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 90px;
	background: #ff0057;
	content: " ";
}

@keyframes fall {
	0% {
		-webkit-transform-origin: 0% 0%;
		-ms-transform-origin: 0% 0%;
		-moz-transform-origin: 0% 0%;
		-o-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		-webkit-transform: scale(1, 0);
		-ms-transform: scale(1, 0);
		-moz-transform: scale(1, 0);
		-o-transform: scale(1, 0);
		transform: scale(1, 0);
	}
	50% {
		-webkit-transform-origin: 0% 0%;
		-ms-transform-origin: 0% 0%;
		-moz-transform-origin: 0% 0%;
		-o-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		-webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	50.1% {
		-webkit-transform-origin: 0% 100%;
		-ms-transform-origin: 0% 100%;
		-moz-transform-origin: 0% 100%;
		-o-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
		-webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	100% {
		-webkit-transform-origin: 0% 100%;
		-ms-transform-origin: 0% 100%;
		-moz-transform-origin: 0% 100%;
		-o-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
		-webkit-transform: scale(1, 0);
		-ms-transform: scale(1, 0);
		-moz-transform: scale(1, 0);
		-o-transform: scale(1, 0);
		transform: scale(1, 0);
	}
}

.sub-head {
	color: white;
	font-family: "elza", sans-serif;
	font-size: 3.5rem;
	text-align: center;
	margin-bottom: 3rem;
	margin: 3rem 0 3rem 0;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 10rem;
}

.card-continer {
	position: relative;
	display: flex;
	justify-content: center;
}

.card {
	position: relative;
	cursor: pointer;
	margin: 0 1.5rem;
}

.face {
	width: 300px;
	height: 200px;
	transition: 0.5s;
	border-radius: 2.5rem;
}

.face1 {
	position: relative;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform: translateY(100px);
}

.card:hover .face.face1 {
	background: #ff0057;
	transform: translateY(0);
	border-radius: 2rem 2rem 0 0;
}

.face1 .content {
	transition: 0.5s;
}

.card:hover .face.face1 .content h3 {
	color: white;
}

.face1 .content h3 {
	margin: 10px 0 0;
	padding: 0;
	color: black;
	text-align: center;
	font-family: "elza", sans-serif;
	font-size: 1.5rem;
}

.face2 {
	position: relative;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(255, 255, 255, 0.8);
	opacity: 0;
	transform: translateY(-100px);
}

.card:hover .face.face2 {
	transform: translateY(0);
	transition: 0.8s;
	opacity: 1;
	border-radius: 0 0 2rem 2rem;
}

.face2 .content p {
	margin: 0;
	padding: 0;
	font-family: "Courier New", Courier, monospace;
}

.face2 .content a {
	margin: 15px 0 0;
	display: inline-block;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
	font-weight: 900;
	color: black;
	padding: 5px;
	border: 1px solid black;
	border-radius: 10px;
}

.face2 .content a:hover {
	background: black;
	color: #fff;
}

.f-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.f-col {
	width: 100%;
	padding: 2rem 1rem;
	margin-top: 2rem;
}

.f-col h4 {
	font-family: "elza", sans-serif;
	font-size: 2rem;
}

.f-col:nth-child(2) {
	color: #ff0057;
}

.f-col p,
.copy {
	font-family: "Courier New", Courier, monospace;
	text-align: start;
}
.copy {
	margin: 0 1rem;
	padding-bottom: 2rem;
}

/* Burger */
@media (max-width: 769px) {
	/* Hiding menu outside and styling burger menu*/
	.nav-menu {
		position: fixed;
		right: -100%;
		top: 5rem;
		flex-direction: column;
		background-color: #fff;
		width: 50%;
		border-radius: 0 0 0 1rem;
		text-align: center;
		transition: 0.3s;
	}

	/* Move menu own after clicking */
	.nav-menu.active {
		right: -1rem;
	}

	.nav-item {
		margin: 2.5rem 0;
	}

	/* Changing cursor style on hover */
	.hamburger {
		display: block;
		cursor: pointer;
	}

	/* Creating X button */
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(9px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-9px) rotate(-45deg);
	}
}

@media (min-width: 1025px) {
	.wrapper {
		width: 1000px;
	}
	.row {
		margin: 10rem 0 15rem 0;
	}

	.banner-title {
		width: 50%;
		padding: 2rem 0;
		margin: 0;
		border-right: 5px solid white;
		border-bottom: none;
	}

	.banner-title p:nth-child(2) {
		border-bottom: none;
		padding-bottom: 0rem;
	}

	.banner-text {
		width: 50%;
	}
	.banner-text p {
		margin-left: 5rem;
	}

	#arrow-wrapper {
		margin-bottom: 13rem;
	}

	.grid {
		width: 80%;
		justify-content: center;
	}

	.f-grid {
		width: 1000px;
		margin: 0 auto;
	}

	.f-col {
		width: 50%;
	}

	.copy {
		width: 1000px;
		margin: 0 1rem;
		margin: 0 auto;
	}
}
