body {
	margin: 0;
	background-color: black;
}

section {
	margin-bottom: 17em;
}

footer {
	background-color: white;
}

/* Navigation bar */
.nav {
	display: flex;
	justify-content: space-between;
	height: 6rem;
	background-color: white;
	box-shadow: 0 0px 70px rgba(255, 0, 87, 0.5);
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	width: 3rem;
	padding-right: 1rem;
	border-right: 0.3rem solid black;
	margin: 1rem;
}

.b-icon img {
	width: 3rem;
}

.date {
	font-family: "elza", sans-serif;
	font-weight: 700;
	font-size: 2rem;
	color: black;
}

.tabs {
	display: flex;
	margin-right: 1rem;
}

.tabs ul {
	display: flex;
	align-items: center;
	gap: 3rem;
	list-style-type: none;
}

.tabs ul li a {
	text-decoration: none;
	color: black;
	font-family: "elza", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.active {
	text-decoration: underline;
	text-decoration-thickness: 4px;
	text-underline-offset: 5px;
}

.unactive {
	opacity: 0.5;
}

.unactive:hover {
	opacity: 1;
}

/* Banner */
.wrapper {
	width: 1000px;
	margin: 0 auto;
}

.banner {
	display: flex;
	margin: 10rem 0 15rem 0;
	align-items: center;
	justify-content: center;
}

/* banner title */
.banner-title {
	width: 50%;
	border-right: 5px solid white;
}

.banner-title h1 {
	color: white;
	justify-content: left;
	font-family: "elza", sans-serif;
	font-size: 8rem;
}

/* Banner text */
.banner-text {
	width: 45%;
	color: white;
	font-family: "Courier New", Courier, monospace;
	margin-left: 3rem;
}

/* Sub Head */
.sub-head {
	color: white;
	font-family: "elza", sans-serif;
	font-size: 3.5rem;
	text-align: center;
}

/* Grid */
.grid {
	width: 1500px;
	margin: 0 auto;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* Card */
.card-conatiner {
	position: relative;
	display: flex;
	justify-content: center;
}

.card {
	position: relative;
	cursor: pointer;
	margin: 0 1.5rem;
}

.face {
	width: 300px;
	height: 200px;
	transition: 0.5s;
	border-radius: 2.5rem;
}

.face1 {
	position: relative;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform: translateY(100px);
}

.card:hover .face.face1 {
	background: #ff0057;
	transform: translateY(0);
	border-radius: 2rem 2rem 0 0;
}

.face1 .content {
	transition: 0.5s;
}

.card:hover .face.face1 .content h3 {
	color: white;
}

.face1 .content h3 {
	margin: 10px 0 0;
	padding: 0;
	color: black;
	text-align: center;
	font-family: "elza", sans-serif;
	font-size: 1.5rem;
}

.face2 {
	position: relative;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(255, 255, 255, 0.8);
	opacity: 0.1;
	transform: translateY(-100px);
}

.card:hover .face.face2 {
	transform: translateY(0);
	transition: 0.8s;
	opacity: 1;
	border-radius: 0 0 2rem 2rem;
}

.face2 .content p {
	margin: 0;
	padding: 0;
	font-family: "Courier New", Courier, monospace;
}

.face2 .content a {
	margin: 15px 0 0;
	display: inline-block;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
	font-weight: 900;
	color: black;
	padding: 5px;
	border: 1px solid black;
	border-radius: 10px;
}

.face2 .content a:hover {
	background: black;
	color: #fff;
}

/* Footer */
.f-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.f-col-1 p {
	border-right: 1px solid black;
}

.f-col-1,
.f-col-2 {
	width: 45%;
}

.f-col-2 {
	margin: 0 auto;
}

.f-col-1 h4,
.f-col-2 h4 {
	font-family: "elza", sans-serif;
	font-size: 2rem;
}

.f-col-1 p,
.f-col-2 p {
	font-family: "Courier New", Courier, monospace;
	text-align: start;
}

.f-col-2 p {
	color: #ff0057;
}

.copy {
	margin-bottom: 2rem;
	font-family: "Courier New", Courier, monospace;
	font-weight: bolder;
}
